<head>
    <meta charset="UTF-8">
    <title>如初</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <!-- <header class="header">
        <div class="header_top">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-md-auto">
                        <a href="#" class="location">中国</a>
                        <span class="phone-number">8276 8692 + 61 (08)</span>
                    </div>
                    <div class="col-12 col-md-auto">
                        <input type="text" class="search" placeholder="Search and hit return...">
                    </div>
                </div>
            </div>
        </div> -->
    <div class="header_bottom">
        <div class="container header_holder">
            <div class="row justify-content-between align-items-center header_row">
                <div class="col-auto col-lg-1">
                    <a href="#" class="logo">咕噜咕噜蛋糕店</a>
                </div>
                <button class="menu-toggle col-auto"></button>
                <nav class="col-auto col-lg-8 menu">
                    <ul class="menu_list">
                        <li class="menu_list-item">
                            <a href="/rl/login" class="menu_link">后台</a>
                        </li>
                        <li class="menu_list-item">
                            <a href="/r/login" class="menu_link">登录</a>
                        </li>
                        <li class="menu_list-item">
                            <a href="/r/register" class="menu_link">注册</a>
                        </li>
                    </ul>
                </nav>

                <div class="cart">
                    <button class="cart_button">购物车</button>
                    <div class="cart_dropdown">
                        <div class="cart-form cart-form__mini">
                            <div class="cart-form_content">
                                <table class="cart-form_table">
                                    <tr>
                                        <td>
                                            <img src=" img/images/small-product-1.jpg" alt="" class="cart-form_image">
                                            <p class="cart-form_table-title">香蕉煎饼</p>
                                            <span class="cart-form_table-sum">$ 18.90</span>
                                        </td>
                                        <td>
                                            <div class="number">
                                                <button class="number_button">-</button>
                                                <input class="number_input" value="1">
                                                <button class="number_button">+</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src=" img/images/small-product-3.jpg" alt="" class="cart-form_image">
                                            <p class="cart-form_table-title">香蕉煎饼</p>
                                            <span class="cart-form_table-sum">$ 18.90</span>
                                        </td>
                                        <td>
                                            <div class="number">
                                                <button class="number_button">-</button>
                                                <input class="number_input" value="1">
                                                <button class="number_button">+</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src=" img/images/small-product-5.jpg" alt="" class="cart-form_image">
                                            <p class="cart-form_table-title">香蕉煎饼</p>
                                            <span class="cart-form_table-sum">$ 18.90</span>
                                        </td>
                                        <td>
                                            <div class="number">
                                                <button class="number_button">-</button>
                                                <input class="number_input" value="1">
                                                <button class="number_button">+</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="cart-form_bottom">
                                    <div class="cart-form_bottom-col">
                                        <p class="cart-form_bottom-title">小计：</p>
                                        <button class="button">回店</button>
                                    </div>
                                    <div class="cart-form_bottom-col">
                                        <p class="cart-form_bottom-title">$ 64.40</p>
                                        <button class="button button__filled">查看</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </header>
    <!-- //轮播图 -->
    <div class="content">
        <div class="slick-slider slick-slider__main">
            <div class="slick-slider_slides">
                <div class="slick-slider_item">
                    <div class="container slick-slider_holder">
                        <div class="slick-slider_content">
                            <p class="slick-slider_title">草莓幻想</p>
                            <p class="slick-slider_text">果仁沙漠</p>
                            <div class="slick-slider_price">
                                <button class="button button__filled">添加到购物车</button>
                                <div>
                                    <span class="slick-slider_price-old">$ 26.50</span>
                                    <span class="slick-slider_price-value">$ 17.50</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class=" slick-slider_image" src=" img/images/slider-1.jpg" alt="">
                </div>
                <div class="slick-slider_item">
                    <div class="container slick-slider_holder">
                        <div class="slick-slider_content">
                            <p class="slick-slider_title">草莓幻想</p>
                            <p class="slick-slider_text">果仁沙漠</p>
                            <div class="slick-slider_price">
                                <span class="slick-slider_price-value">$ 17.50</span>
                                <div class="number">
                                    <button class="number_button">-</button>
                                    <input class="number_input" value="1">
                                    <button class="number_button">+</button>
                                </div>
                                <button class="button button__filled">添加到购物车</button>
                            </div>
                        </div>
                    </div>
                    <img class=" slick-slider_image" src=" img/images/slider-1.jpg" alt="">
                </div>
                <div class="slick-slider_item">
                    <div class="container slick-slider_holder">
                        <div class="slick-slider_content">
                            <p class="slick-slider_title">草莓幻想</p>
                            <p class="slick-slider_text">果仁沙漠</p>
                            <div class="slick-slider_price">
                                <span class="slick-slider_price-value">$ 17.50</span>
                                <div class="number">
                                    <button class="number_button">-</button>
                                    <input class="number_input" value="1">
                                    <button class="number_button">+</button>
                                </div>
                                <button class="button button__filled">添加到购物车</button>
                            </div>
                        </div>
                    </div>
                    <img class=" slick-slider_image" src=" img/images/slider-1.jpg" alt="">
                </div>
            </div>
            <div class="slick-slider_navigation container"></div>
            <div class="slick-slider_dots container"></div>
        </div>
        <p class="title">新产品</p>
        <% list.forEach(i=>{%>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="catalog">
                            <div class="catalog_list">
                                <div class="product-card product-card__main">
                                    <img src="img/images/<%= i.goods_images%>" alt="" class="product-card_image img">
                                    <div class="product-card_content">
                                        <div class="product-card_text">
                                            <p class="product-card_title">
                                                <%= i.goods_name%>
                                            </p>
                                            <p class="product-card_description">
                                                <%= i.goods_brief%>
                                            </p>
                                        </div>
                                        <div class="product-card_bottom">
                                            <div class="product-card_price">

                                                <div>
                                                    <span class="slick-slider_price-old">
                                                        ￥<%=i.goods_oldprice%>
                                                    </span>
                                                    <span class="slick-slider_price-value">
                                                        ￥<%=i.goods_newprice%>
                                                    </span>
                                                </div>
                                                <div class="product-card_price-col">
                                                    <div class="number">
                                                        <button class="number_button">-</button>
                                                        <input class="number_input" value="1">
                                                        <button class="number_button">+</button>
                                                    </div>
                                                    <button class="button button__filled">添加到购物车</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%})%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

    </footer>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap-slider.min.js"></script>
    <script src="js/chosen.jquery.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/countUp.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        /*Sliders init*/
        $('.slick-slider__main .slick-slider_slides').slick({
            dots: true,
            appendArrows: $('.slick-slider__main .slick-slider_navigation'),
            appendDots: $('.slick-slider__main .slick-slider_dots')
        });
        $('.quotes-slider .slick-slider_slides').slick({
            dots: true,
            appendArrows: $('.quotes-slider .slick-slider_navigation'),
            appendDots: $('.quotes-slider .slick-slider_dots')
        });

        /* Counters anomation*/


        for (var i = 0; i < counters.length; i++) {
            var counter = new CountUp(counters[i], 0, counters[i].dataset.number, 0, 3, options);
            if (!counter.error) {
                counter.start();
            } else {
                // 鈥冣€僣onsole.error(counter.error);
            }
        }
    </script>
</body>

</html>
 