<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>蛋糕</title>
  <link rel="stylesheet" href="http://localhost:3000/css/shop.css">
  <script src="http://localhost:3000/js/jquery.min.js"></script>
  <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.css">
</head>

<body>
  <form action="/admin/shop " method="POST">
    <div class="a">
      蛋糕:<input type="text" id="queryInput" name="queryInput" placeholder=" 请输入要查询的蛋糕品种">
      <button type="submit" class=" c search">查询</button>
    </div>
  </form>
  <div>
    <ul class="b3">
      <input type="button" class="c1" value="新增" id="add_button">
    </ul>
  </div>

  <div class="b2">
    <table border="1" class="b1 table table-hover" id="b1">
      <tr>
        <th>蛋糕</th>
        <th>图片位置</th>
        <th>介绍</th>
        <th>原本价格</th>
        <th>折扣价格</th>
        <th>上传时间</th>
        <th>功能</th>
      </tr>
      <tbody id="iUser">
        <% list.forEach(i=>{%>
          <tr>
            <td class="hero">
              <%= i.goods_name%>
            </td>
            <td>
              <img class="img" src="../../img/images/<%=i.goods_images%>">
            </td>
            <td>
              <%= i.goods_brief%>
            </td>
            <td>
              <%= i.goods_oldprice%>
            </td>
            <td>
              <%= i.goods_newprice%>
            </td>
            <td>
              <%= i.goods_createtime%>
            </td>
            <td>
              <input type="button" value="删除" class="del_button del" data-id=<%=i.id %>>
              <input type="button" value="修改" class="upd_button update" data-id1=<%=i.id %>>
            </td>
          </tr>
          <%})%>
      </tbody>
      <tfoot>
        <span id="prev">上一页</span>
        <span id="pages"></span>
        <span id="next">下一页</span>
        <input id="count" type="hidden" value="<%= count%>">
        <input id="page" type="hidden" value="<%= page%>">

      </tfoot>

    </table>
  </div>
  <script src="http://localhost:3000/js/demo.js"></script>
  <script>
    var count = document.getElementById('count').value; // 总条数
    var page = document.getElementById('page').value //当前的页码
    console.log(count);
    console.log(page);

    var pages = document.getElementById('pages')
    var prev = document.getElementById('prev')
    var next = document.getElementById('next')

    function createPages() {
      pages.innerHTML = '';
      for (var i = 0; i < Math.ceil(count / 5); i++) {
        pages.innerHTML += `<button class= "btn" json-page="${i}">${i + 1}</button>`;

      }
    }
    createPages();

    //点击按钮进行翻页功能
    $(function () {

      $('.btn').on('click', function () {
        let page = $(this).attr('json-page');
        window.location.href = '/admin/shop/?page' + page;
      })

      //点击跳转去上一页
      prev.onclick = function () {
        if (page >= 1) {
          page--;
          window.location.href = '/admin/shop/?page=' + page;
        }
      }

      //点击跳转下一页
      next.onclick = function () {
        if (page < Math.ceil(count / 5) - 1) {
          page++;
          window.location.href = '/admin/shop/?page=' + page;
        }
      }
    })
  </script>

  <script>
    //删除商品
    Array.from($('.del')).forEach(i =>
      i.onclick = function () {
        let id = i.getAttribute('data-id')
        $.ajax({
          url: "/admin/shop/del/" + id,
          type: "DELETE",
          success: function (data) {
            if (data == '成功删除') {
              alert('成功删除')
              $(i).parent().parent().remove()
            }
          }
        })
      })

    //商品的修改
    Array.from(document.getElementsByClassName('update')).forEach(i => {
      i.onclick = function () {
        let ind = this.getAttribute('data-id1')
        window.location.href = '/admin/shop/update/' + ind
      }
    })


  </script>


</body>

</html>