<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="/css1/amazeui.min.css">
    <link rel="stylesheet" href="/css1/admin.css">
    <link rel="stylesheet" href="/css1/app.css">
    <script src="/js/jquery.min.js"></script>
    <style>
        .admin-main {
            padding-top: 0px;
        }
    </style>
</head>

<body>

    <div class="am-cf admin-main">
        <!-- content start -->
        <div class="admin-content">
            <div class="admin-content-body">
                <div class="am-g">
                    <% arr.forEach(i=>{%>
                        <form class="am-form am-form-horizontal" action="/admin/update/<%= i.id%>" method="post"
                            onsubmit="return chexk()" style="padding-top: 30px;">
                            <input value="504" name="roleId" type="hidden">
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">
                                    商品名字
                                </label>
                                <div class="am-u-sm-9">
                                    <input id="roleName" required="" placeholder="请输入商品名字" value="<%= i.goods_name%>"
                                        name="goods_name" type="text">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">
                                    商品的图片位置
                                </label>
                                <div class="am-u-sm-9">
                                    <input cols="50" placeholder="请输入商品图片的位置" value="<%= i.goods_images%>" type="file"
                                        name="goods_images"></input>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">
                                    商品介绍
                                </label>
                                <div class="am-u-sm-9">
                                    <input rows="" cols="50" placeholder="请输入商品介绍 " value="<%= i.goods_brief%>"
                                        name="goods_brief"></input>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">
                                    商品原本价格
                                </label>
                                <div class="am-u-sm-9">
                                    <input rows="" cols="50" placeholder="请输入商品原本价格" value="<%= i.goods_oldprice%>"
                                        name="goods_oldprice"></input>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">
                                    商品折扣价格
                                </label>
                                <div class="am-u-sm-9">
                                    <input rows="" cols="50" placeholder="请输入折扣价格" value="<%= i.goods_newprice%>"
                                        name="goods_newprice"></input>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">
                                    商品上传时间
                                </label>
                                <div class="am-u-sm-9">
                                    <input rows="" cols="50" placeholder="请输入上传时间 " value="<%= i.goods_createtime%>"
                                        name="goods_createtime"></input>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <input id="addRole" class="am-btn  insert am-btn-success  am-btn" value="保存商品"
                                        type="submit">
                                </div>
                            </div>
                        </form>
                        <%})%>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/demo.js"></script>
<script>
    function chexk() {
        alert('修改商品成功')
        return true;
    }
</script>

</html>